#calendar-wrapper{
  margin:100px auto;
  width:980px;
}

input{
  width:120px;
  font-size:12px;
  font-family:georgia;
  font-style:italic;
}

td{
  border:1px solid #ddd;
  width:140px;
  height:140px;
  text-align:center;
}